@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: #111;
    color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}
.lists {
    margin-top: -150px;
}

footer{
    /* margin: 50px 0; */
    text-align: center;
    height: 100px;
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.social-btn{
    color: white;
    font-size: 2.5rem;
    margin-left: 10px;
    margin-right: 10px;
}
#linkedin:hover{
    color: rgb(211, 9, 9)
}

#github:hover{
    color: rgb(211, 9, 9)
}